.appointment-div {
    background-color: #f1f1f1e1;
    padding-left: 20;
    padding-top: 20;
    padding-bottom: 20;
    padding-right: 20;
}

.hr-dark {
    border: none;
    height: 1px;
    background-color: rgb(102, 102, 102);
}

.page-title {
    background-color: #f1f1f1e1;
    padding-left: 20;
    padding-top: 20;
    padding-bottom: 20;
    padding-right: 20;
}

.page-subtitle {
    background-color: #008cba;
    padding-left: 20;
    padding-top: 20;
    padding-bottom: 20;
    padding-right: 20;
    color: white;
}

.p-pages {
    background-color: #f1f1f1e1;
    padding-left: 20;
    padding-top: 20;
    padding-bottom: 20;
    padding-right: 20;
}